{{- $mainStyle := resources.Get "css/main.css" -}}
{{- $configStyle := resources.Get "css/config.template.css" | resources.ExecuteAsTemplate "config.css" . -}}
{{- $style := slice $mainStyle $configStyle | resources.Concat "css/bundle.css" | resources.Minify | resources.Fingerprint -}}
<link rel="preload" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous" as="style" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous"></noscript>
{{- partial "head/math" . -}}
